# Directorios
build/
dist/
.idea/
.vs
.venv
__pycache__
*.pyc


# La carpeta Documentos escpecto el TODO y el CHAMGELOG
Documents/*
!Documents/CHANGELOG.txt
!Documents/TODO.txt

# Se excluyen los PDFs de la carpeta reportes
/src/Reports/*.pdf
